[submodule "erp-backend"]
	path = erp-backend
	url = git@github.com:XAER/erp-backend.git
[submodule "authentication"]
	path = authentication
	url = git@github.com:XAER/authentication.git
[submodule "erp-frontend"]
	path = erp-frontend
	url = git@github.com:XAER/erp-frontend.git
